<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="assets/css/estilos.css"/>

    </head>
    <body>
        <header>
            <h1>Mi Empresa</h1>
        </header>

        <main class="contenedor contenedorTablas">

            <table border="1" class="table">
                <thead>
                    <tr>
                        <!--<th>ID</th>-->
                        <th>Nombre</th>
                        <th>Imagen</th>
                        <th>Descripcion</th>
                        <!--<th>Precio</th>-->
                        <th>Categoria</th>
                    </tr>
                </thead>
                <tbody>

                    <?php foreach ($listaProductos as $indice => $producto){ ?>

                    <tr>
                        <!--<td><?php echo $producto['id']; ?></td>-->
                        <td><?php echo $producto['nombre']; ?></td>
                        <td><img style="width: 150px; height: 150px;" src="<?php echo "assets/img/productos/".$producto['imagen']; ?>" alt="alt"/></td>
                        <td><?php echo $producto['descripcion']; ?></td>
                        <!--<td><?php echo "$ ".$producto['precio']; ?></td>-->
                        <td><?php 
                            $categoria = categorias::mostrar($producto['categoria']);
                            echo $categoria[0]["nombre"];
                            ?>
                        </td>
                    </tr>

                    <?php } ?>
                </tbody>
            </table>

            <div class="botonesHome">
                <button ><a href="backend/productos.php?accion=agregar">Agregar Porducto</a></button>
                <button ><a href="backend/categorias.php?accion=agregar">Agregar categoría</a></button>
            </div>

        </main>

        <footer><img src="assets/img/icono-copyright.png" alt="copyright"/> Desarrollado por Manuel Gonzalez. 2023.</footer>

        <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
        <script src="../../assets/js/validaciones.js"></script>
    </body>
</html>
